.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes mymove {
  from {
    transform: rotate(0deg);
    color: red;
  }

  to {
    transform: rotate(-360deg);
    color: yellow;
  }
}
@keyframes mycoding {
  from {
    transform: rotate(0deg);
    color: blue;
  }

  to {
    transform: rotate(360deg);
    color: yellow;
  }
}
  @keyframes mymoon {
    from {
      transform: rotate(0deg);
      color: skyblue;
    }
  
    to {
      transform: rotate(-360deg);
      color: yellow;
    }
  }



